

<div class="wrapper">
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group form-signin">
      <label for="exampleFormControlFile1">Upload images</label>
      <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/jpeg, image/png">
    </div>
    <div class="form-group form-signin">
      <label for="exampleFormControlTextarea1">Caption</label>
      <textarea name="caption" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="submit" class="btn btn-primary mb-2" style="margin-top: 2rem">Upload</button>
    </div>
  </form>
</div>