<div class="portfolio">

    <h1>Skill</h1>
    <ul>
        <li>Javascript</li>
        <li>HTML</li>
        <li>MySQL</li>
        <li>NodeJS</li>
        <li>Koa</li>
        <li>Cloud Development</li>
        <li>Algorithm: Data Structure</li>
    </ul>

</div>