<nav>
  <ul>
      <li><a href="/">About me</a> | </li>
      <li><a href="/skill">Skill</a> | </li>
      <li><a href="/contact">Contact Me</a> | </li>
      <li><a href="/portfolio">Portfolio</a></li>
  </ul>
</nav>